
<mat-toolbar  class="toolbar">
    <!-- <button mat-raised-button routerLink="addCustomer" color="primary">Add customer</button> 
    <button mat-raised-button color="primary" (click)="OnSave()">Save</button>
    <button mat-raised-button color="primary" (click)="OnLoad()">Load</button> -->
    <button mat-raised-button routerLink="listUtenti" color="primary">List</button>

</mat-toolbar>
<app-list-utenti></app-list-utenti>
utenti!
<!-- <app-customers-table></app-customers-table> -->
<router-outlet></router-outlet>


